@import "normalize.scss";


$pure-white: #fff;
$white: #f8f8f8;
$lighterGrey: #aaa;
$font-color: #666;
$note-bgcolor: #fafad2;
$warning-bgcolor: #f06c67;
$side-menu-bgcolor: #131313;
$link-color: #2F77AB;


@function _border(
        $width: 1px,
        $color: $lighterGrey,
        $style: solid
) {
    @return $width $style $color;
}

@mixin single_border(
        $local,
        $width: 1px,
        $color: $lighterGrey,
        $style: solid
) {
    border-#{$local}: $width $style $color;
}

html {
  font-family: "SF UI Display", ".PingFang SC","PingFang SC", "Neue Haas Grotesk Text Pro", "Arial Nova", "Segoe UI", "Microsoft YaHei", "Microsoft JhengHei", "Helvetica Neue", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "Hiragino Sans GB", sans-serif;
  height:100%;
  color: $font-color;
}
body {
  padding: 0;
  min-height: 100%;
  position: relative;
  display: block;
  box-sizing: border-box;
  @media (max-width: 45rem){
	  padding-bottom: 4rem;
  }
}
a {
  background-color: transparent;
  text-decoration:none;
}
a.copyright,{
	&:link,&:visited, &:hover, &:active{
		color: $pure-white;
	}
}
img {
  border-style: none;
  max-width: 80%;
  margin: 0 10%;
}
time{
	font-family: Courier;
	letter-spacing: -0.1rem;
}
blockquote{
	@include single_border($local: left,$width: 5px);
	text-indent: 2rem;
	background-color: $white;
	padding: 0 2rem;
}
code{
    background-color: $white;
	padding: 2px;
	border: _border();
	border-radius:3px;
}


.left-menu{
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: $side-menu-bgcolor;
}


#menu{
	color: $lighterGrey;
	margin-left: 0px;
	top: 0;
	width: 11rem;
	@extend .left-menu ;

	.heading{
		text-align: center;
	}
	.menu{
		font-size: 90%;
		i{
			margin-right: 0.5rem;
		}
	}
	.menu-list{
		position: relative;
		left: 0;
		margin: 0;
		padding-left: 1rem;
        @include single_border($local: top,$color: #555);
		line-height: 2.1rem;
		letter-spacing: 0.5rem;
	}
	.brand{
		font-family: Centaur;
		font-size: 1.5rem;
		line-height: 1rem;
		padding-top: 1rem;
		margin-left: -0.5rem;
		display: block;
	}
	.subtitle{
		font-size: 60%;
		line-height: 1rem;
		margin-top: 1rem;
		margin-left: -0.5rem;
		margin-bottom: 0.8rem;
	}
	.social li{
		display: inline-block;
	}
	.social span{
		display: none;
	}
	a{
		&:link,&:visited, &:hover, &:active{
			color: inherit;
		}
	}
	ul{
		list-style-type: none;
	}
	@media (max-width: 45rem){
		position: static;
		margin: 0;
		padding: 0;
		width: 100%;
		.heading{
			text-align: left;
		}

		.menu{
			text-align: center;
			line-height: 3rem;
            .menu-item{
                padding: 0 0.1rem;
            }
		}
		.menu li{
			display: inline-block;
		}
		.menu-list{
            padding: 0;
			letter-spacing: 0rem;
		}
		.brand{
			font-size: 1.5rem;
			line-height: 1.5rem;
			padding-top: 0.5rem;
			display: block;
			margin-left: 1rem;
		}
		.subtitle{
			line-height: 0;
			margin-top: -1rem;
			padding-right: 2rem;
			margin-bottom: 0.8rem;
			float: right;
		}
		.social{
			text-align: center;
		}
	}
}

#main{
	margin-left: 11rem;
	.header{
		  font-family: "Raleway", Helvetica, Arial, sans-serif;
		  font-size: 1.2rem;
		  margin: 0;
		  text-align: center;
		  padding: 1rem 2rem 0;
		  h1{
			  font-weight: normal;
		  }
		  h2{
			  color: $lighterGrey;
			  font-weight: lighter;
		  }
	}

 	a{
		&:link, &:visited, &:hover, &:active{
		color: $link-color;
		}
	}
	pre{
		code{
		border: none;
		}
	}
	.content{
        @include single_border($local: top,$color: #eee);
		margin: 0 auto;
		padding: 0 2rem;
		max-width: 800px;
		margin-bottom: 50px;
		line-height: 1.6rem;
	}
	.license{
		vertical-align:middle;
		height:20px;
		margin-left:0;
	}
	.prev-next-post{
		display: block;
		overflow: auto;
		line-height: 4rem;
		@include single_border($local: top);
		@include single_border($local: bottom);
		font-size: 1rem;
	}
	.prev{
		display:block;
		float: left;
		padding-left: 1rem;
	}
	.next{
		display:block;
		float: right;
		padding-right: 1rem;
	}
	.note{
		background-color: $note-bgcolor;
	}
	.warning{
		background-color: $warning-bgcolor;
	}
	.note,.warning{
        padding: 0 1.5rem;
		margin: 1rem;
		border-radius: 1rem;
		border: _border();
	}
	.note,.warning{
		i{
		text-indent: 0.5rem;
		padding: 0.5rem;
		}
	}
	@media (max-width: 45rem) {
		.prev,.next{
			font-size: 0.7rem;
			padding: 0.2rem;
		}
		margin-left: 0;
	}
}

.menu-copyright{
	color: $lighterGrey;
	text-align: center;
	width: 11rem;
	font-size: 0.7rem;
	display: block;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	line-height: 1.5rem;
	@extend .left-menu ;
    .host{
        @include single_border($local: bottom);
    }
	@media (max-width: 45rem){
        @include single_border($local: top);
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: 0;
		margin: 0;
        .host{
            display: none;
        }
	}
}

article{
    @include single_border($local: bottom,$color: #ddd);
    margin-bottom: 1rem;
}
header{
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    .title{
        width: 60%;
        min-width: 40%;
        height: auto;
        margin-left: 1rem;
        display: flex;
        -webkit-align-items: center;
          align-items: center;
        -webkit-justify-content: left;
          justify-content: left;
    }
    .post-meta-homepage{
        margin: 0.5rem 1rem 0 1rem;
        flex: 1;
    }
}
.row{
    display: flex;
    i{
        margin-top: 0.3rem;
        min-width: 2rem;
    }
    span{
    }
}

.directory {
    float: right;
    font-size: 0.7rem;
    padding: 1rem;
    text-indent: 1rem;
    border: _border($color: #ddd);
    margin-left: 1rem;
    strong {
        display: block;
        @include single_border($local: bottom,$color: #ccc);
        }
    li {
        list-style-position: inside;
    }
    @media (max-width: 45rem) {
        padding: 0;
        margin: 0;
        text-indent: 0.5rem;
    }
}
