{{ if or (.Prev) (.Next) }}
<div class="prev-next-post">
    {{ if .PrevInSection }}
    <div class="prev">
        <a href="{{ .PrevInSection.Permalink }}"><i class="fa fa-chevron-left"></i></a>
    </div>
    {{ end }}
    {{ if .PrevInSection }}
    <nav class="prev">
        <a href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title }}</a>
    </nav>
    {{ end }}
    {{ if .NextInSection }}
    <div class="next">
        <a href="{{ .NextInSection.Permalink }}"><i class="fa fa-chevron-right"></i></a>
    </div>
    {{ end }}
    {{ if .NextInSection }}
    <nav class="next">
        <a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }}</a>
    </nav>
    {{ end }}
</div>
{{ end }}
